name: terraform-delete-student-service
on:
 push:
   tags:
     - STUDENT-API-PLAY-DELETE-*
jobs:
  destroy-terraform-student-api:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout public repo
        uses: actions/checkout@master

      - name: Get the latest terraform version
        run: make terraform-install

      - name: Destroy student-api infra and code
        run: make terraform-destroy
        env:
          TF_IN_AUTOMATION: true
          TF_WORKSPACE: play
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY:  ${{ secrets.AWS_SECRET_KEY }}
          TF_CLOUD_TOKEN: ${{ secrets.TF_CLOUD_TOKEN }}
          TF_FILE_PATHS: "code-deploy infra-deploy"
